/* Inicio - Select2 */
.select2-selection {
    min-height: 37.8px;
    text-align: left;
  }
  
  .select2-selection__rendered {
    margin: 5px;
  }
  
  .select2-selection__arrow {
    margin: 5px;
  }
  .ancho-select2{
    width: 293px!important;
    margin: auto!important;
  }
  .target-element {
    margin: 10px;
  }
  
  .campo_invalido {
    border: none !important;
  }