/* Inicio - Select2 */
.select2-selection {
    min-height: 37.8px;
    text-align: left;
  }
  
  .select2-selection__rendered {
    margin: 5px;
  }
  
  .select2-selection__arrow {
    margin: 5px;
  }
  .ancho-select2{
    width: 293px!important;
    margin: auto!important;
  }
  .target-element {
    margin: 10px;
  }
  
  .campo_invalido {
    border: none !important;
  }

/* Diseño select2 mutiple */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #515e6c;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: aliceblue;
}

/* Asegurar que el contenedor principal tenga el ancho deseado */
.select2-container {
    width: 100% !important; /* El contenedor principal debe ocupar el 100% */
}

